<h1>Companies</h1>

<% @companies.each do |company| %>
  <h3><%= company.name %></h3>
  <p>Market Value: <%= company.market_value %></p>
  <p>Active: <%= company.active %></p>
  <p>Created At: <%= company.created_at.strftime("%B %d, %Y") %></p>
<% end %>

<%= link_to 'New Company', new_company_path %>
